@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Qwigley&family=Source+Sans+Pro&display=swap');

:root {
    --SKY: #CAEBF2;
    --CARBON: #A9A9A9;
    --NEUTRAL: #EFEFEF;
    --MAIN-TEXT: rgba(70, 67, 67, 1);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source-Sans-Pro, sans-serif;
    color: black;
    background-color: var(--NEUTRAL);    
}

/* Headings and Header */

h1, h2 {
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header {
    background-color: var(--SKY);
    height: 75px;
}

header a {
    text-decoration: none;
    color: white
}

/* Logo */

#logo {
    width: 50%;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
    background-color: inherit;
}

#logo h1 {
    font-size: 25px;
}

#logo:hover {
    color: white;
}

/* Nav menu and links */

.menu-btn {
    font-size: 30px;
    color: white;
    display: block;
    line-height: 75px;
    margin-right: 40px;
    cursor: pointer;
    background-color: inherit;
    float: right;
}

#check {
    display: none;
}

#menu {
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-align: center;
    background-color: #418ace6e;
    position: fixed;
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100vh;
    top: 75px;
    z-index: 99;
    left: -100%;
    transition: all .5s;
}

#check:checked ~ #menu {
    left: 0;
}

#menu li {
    list-style-type: none;
    display: block;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#menu a:hover, .active {
    border-bottom: 2px solid white;
}


/* Section */

section {
    clear: both;
    margin: 0;
}

/* Welcome image section*/

#welcome-image-section-hp {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#welcome-image-hp {
    height: 900px;
    width: 100%;
    background: url(../images/meditate-on-beach-welcome-page.jpg) no-repeat center center;
}

#welcome-quote-hp {
    position: absolute;
    width: 80%;
    bottom: 30px;
    margin: 0 10%;
    color: white;
}

#welcome-quote-hp h3 {
    font-size: 30px; 
}


/* Description section home page */

.text-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.title {
    color: white;
    background-color: var(--MAIN-TEXT);
    text-align: center;
    padding: 30px;
}

.text {
    color: var(--MAIN-TEXT);
    padding: 20px 0;
}

/* Benefits section home page */

#benefits-quote-hp {
    background-color: #d4d3d3;
}

#benefits-quote-text-hp, #benefits-quote-author-hp {
    color: white;
}

.benefits {
    background-color: rgb(106, 209, 128);
}