@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source-Sans-Pro, sans-serif;
    color: #8481A4;    
}

/* Headings and Header */

h1, h2 {
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header {
    background-color: #8481A4;
    height: 75px;
}

header a {
    text-decoration: none;
    color: white
}

/* Logo */

#logo {
    width: 50%;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
    background-color: blue;
}

#logo a:hover {
    color: white;
}

/* Nav menu and links */

.menu-btn {
    font-size: 30px;
    color: white;
    display: block;
    line-height: 75px;
    margin-right: 40px;
    cursor: pointer;
    background-color: green;
    float: right;
}

#check {
    display: none;
}

#menu {
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-align: center;
    background-color: red;
    position: fixed;
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100vh;
    top: 75px;
    left: -100%;
    transition: all .5s;
}

#check:checked ~ #menu {
    left: 0;
}

#menu li {
    list-style-type: none;
    display: block;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#menu a:hover, .active {
    border-bottom: 2px solid white;
}


/* Section */

section {
    clear: both;
}